<?xml version="1.0"?>
<config>
    <modules>
        <Clarion_Contactsgooglemap>
            <version>0.1.0</version>
        </Clarion_Contactsgooglemap>
    </modules>
    <frontend>
        <routers>
         <contacts>
           <args>
            <modules>
             <Clarion_Contactsgooglemap before="Mage_Contacts">Clarion_Contactsgooglemap</Clarion_Contactsgooglemap>
            </modules>
           </args>    
         </contacts>    
        </routers>
        <layout>
            <updates>
                <contactsgooglemap>
                    <file>contactsgooglemap.xml</file>
                </contactsgooglemap>
            </updates>
        </layout>
    </frontend>
        <adminhtml>
		<acl>
          <resources>
            <all>
                <title>Allow Everything</title>
            </all>
            <admin>
                <children>
                    <system>
                        <children>
                            <config>
                                <children>
                                    <contactsgooglemap>
                                        <title>Contactsgooglemap</title>
                                    </contactsgooglemap>
                                </children>
                            </config>
                        </children>
                    </system>
                </children>
            </admin>
        </resources>
    </acl>
</adminhtml> 
    <global>
        <models>
            <contactsgooglemap>
                <class>Clarion_Contactsgooglemap_Model</class>
            </contactsgooglemap>
        </models>
       <helpers>
            <contactsgooglemap>
                <class>Clarion_Contactsgooglemap_Helper</class>
            </contactsgooglemap>
        </helpers>
    </global>
    <default>
        <contactsgooglemap>
            <contactsgooglemap>
               <contactsgooglemapyesorno>1</contactsgooglemapyesorno> 
               <contactsgooglemapapikey>http://maps.google.com/maps/api/js?sensor=true</contactsgooglemapapikey>
               <contactsgooglemapheight>400</contactsgooglemapheight>
               <contactsgooglemappagelayout>1column</contactsgooglemappagelayout>
             </contactsgooglemap>
        </contactsgooglemap>
    </default>  
</config>